* {
	font-family: 'proxima-nova', sans-serif;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-weight: 300;
}

p.qa {
	font-weight: 700;
}

.l-box {
	padding: 1em;
}

.sliding-nav {
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
}

.banner { position: relative; overflow: auto; z-index: 1; }
    .banner li { list-style: none; }
		.banner ul { padding-left: 0; }
	        .banner ul li { float: left; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #b1b1b1;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: #fff;
  opacity: 1;
}

.header {
	color: white;
	background: rgba(0, 0, 0, 0);
}

.intro {
	background-size: cover;
	min-height: 450px;
	z-index: 1;
}

.intro p {
	font-weight: 300;
}

.intro p span {
	border: 1px solid white;
	border-radius: 3px;
	padding: 0.4em;
}

.intro .contact p {
	text-align: right;
}

.intro p span:hover {
	background: white;
	color: black;
}

.text-hero {}

.text-hero p {
	text-align: center;
	font-size: 200%;
	font-weight: 300;
}

.blocks .block-item.attn {
	background-color: #ffeaea;
	color: black;
}


.blocks .block-item p {
	text-align: center;
}

.blocks .block-item p:first-of-type {
	font-weight: 600;
}

.blocks .block-item span i {
	display: block;
	text-align: center;
}

.halves .half-item.text .l-box {
	padding-left: 2em;
	padding-right: 2em;
}

.halves .half-item.text h1 {
}

.footer {
	min-height: 500px;
}